<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>AboutUs &raquo; <%= (title = yield :title) ? title : '' %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-us" />


    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "master" %>
    <%= javascript_include_tag :defaults %>
    <!--[if lt IE 7]><%= stylesheet_link_tag "ie" %><![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <div id="header">
        <a id="logo" href="/" title="AboutUs URL Shortener">AboutUs</a>
        <ul id="main_nav">
          <li><a href="javascript:void(location.host=='maps.google.com'?location.href='<%= rubyurl_remote_url %>?website_url='+encodeURIComponent(document.getElementById('link').href):location.href='<%= rubyurl_remote_url %>?website_url='+encodeURIComponent(location.href))">Bookmarklet</a></li>
          <li><%= link_to 'Report Abuse!', 'mailto:support@aboutus.org?subject=URLShortenerAbuse' %></li>
        </ul>
      </div>

      <div class="flashes">
        <% flash.each do |k, v| %>
          <div class="flash <%= k %>"><%= v %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
